body {
    font-family: Arial, sans-serif;
    background-color: #1d3557;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #457b9d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: #e63946;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
}

.btn:hover {
    background-color: #ff6b6b;
    color: white;
}

input {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #f4a261;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e76f51;
    color: white;
}

.back {
    display: block;
    margin-top: 20px;
}

.start-btn{
    background-color:black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.start-btn:hover{
    background-color: gray;
}